@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-size: 0.85rem;
  padding: 8px 10px;
}
a:hover {
  color: #6b7280;
}
#login {
  background-color: #ffffff;
  display: inline;
  border: 1px solid #6b7280;
}
